{% extends 'base.html' %}

{% block title %}微博详细内容{% endblock %}

{% block head %}{% endblock %}

{% block main %}

<script>
    $(document).ready(
        function()
        {
            $('#errMessage').fadeOut(3000);
        }
    );
</script>

    <div>
        <ul class="nav nav-tabs" id="indexTab" aria-orientation="horizontal">
            <li><a href= "{{ url_for('index',choose='all') }}">全部</a></li>
            {% for type in types %}
                <li><a href="{{ url_for('index',choose=type[0]) }}">{{ type[0] }}</a> </li>
            {% endfor %}
            <li><a href="{{ url_for('index',choose='focus') }}">关注</a> </li>
            {% if user%}
            <li><a href="{{ url_for('user_detail',user_name=user, choose='detail') }}">{{user}}，欢迎回来！</a></li>
            {% endif %}
        </ul>
    </div>

<ul style="list-style:none;padding-left:0;font-size:20px">
    <li style="border-bottom:1px solid #eee;overflow:hidden;padding:10px 0;">
        <div class="avatar-group" style="width:38px;height:100%;float:left;">
            <img src="{{ url_for('static',filename='images/user.jpg') }}" alt="" class="avatar"
            style="width:38px;height:38px;border-radius:50%;">
        </div>
        <div class="group" style="float:left;width:660px;margin-left:10px;" >
            <div>
                <p class="title" style="color:#259;font-weight:900;">{{ list[2] }}</p>
                <p class="content">{{ list[3] }}</p>
            </div>
            <div class="info" style="text-align:right;">
                {% if user != list[4] %}
                    <div>
                        {% if focus %}
                            <span class="focus" style="margin-right:20px;color:grey" >
                                    已关注
                            </span>
                        {% else %}
                            <div style="display:inline;font-size:15px">
                                <form action="" method="POST">
                                    <div class="form-container" style="width:500px;margin:0 auto;text-align:right;display:inline">
                                        <div class="form-group" style="display:inline">
                                            关注分组：
                                            {% for focus_group in focus_groups %}
                                                <input type="radio" name="focus_group" value={{focus_group[0]}} checked>{{ focus_group[2] }}
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" style="">关注</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <span class="praise" style="margin-right:20px;color:grey" >
                    {% if praise[list[8]] == 1 %}
                        已赞（{% if list[6] %}{{ list[6] }}{% else %} 0 {% endif %}）
                    {% else %}
                        <a href="{{ url_for('praise_detail',message_id=list[8], article_id=list[0]) }}">
                            点赞（{% if list[6] %}{{ list[6] }}{% else %} 0 {% endif %}）
                        </a>
                    {% endif %}
                </span>
                <span class="comment" style="margin-right:20px;color:grey">
                    <a href="{{ url_for('comment_action',article_id=list[0], choose='article_detail') }}">
                        评论（{% if list[7] %}{{ list[7] }}{% else %} 0 {% endif %}）
                    </a>
                </span>
                <span class="author" style="margin-right:20px;color:grey">
                    <a href="{{ url_for('user_detail',user_name=list[4], choose='detail') }}">
                        {{ list[4] }}
                    </a>
                </span>
                <span class="time" style="color:grey">{{ list[5] }}</span>
            </div>
        </div>
    </li>
</ul>
<h3 style="padding-left:0">
    评论列表
</h3>
<ul style="list-style:none;padding-left:0;">
    {% for comment in comments %}
        <li style="border-bottom:1px solid #eee;overflow:hidden;padding:10px 0;">
            <div class="avatar-group" style="width:38px;height:100%;float:left;">
                <img src="{{ url_for('static',filename='images/user.jpg') }}" alt="" class="avatar"
                style="width:38px;height:38px;border-radius:50%;">
            </div>
            <div class="group" style="float:left;width:660px;margin-left:10px;" >
                <div>
                    <p class="content">{{ comment[3] }}</p>
                </div>
                <div class="info" style="text-align:right;">
                    <span class="praise" style="margin-right:20px;color:grey" >
                        {% if praise_comment[comment[1]] == 1 %}
                            已赞（{% if comment[6] %}{{ comment[6] }}{% else %}0{% endif %}）
                        {% else %}
                            <a href="{{ url_for('praise_detail',message_id=comment[1], article_id=comment[2]) }}">
                                点赞（{% if comment[6] %}{{ comment[6] }}{% else %}0{% endif %}）
                            </a>
                        {% endif %}
                    </span>
                    <span class="comment" style="margin-right:20px;color:grey">
                        <a href="{{ url_for('comment_action',article_id=list[0], choose='article_detail') }}">
                            回复（{% if comment[7] %}{{ comment[7] }}{% else %}0{% endif %}）
                        </a>
                    </span>
                    <span class="author" style="margin-right:20px;color:grey">
                        <a href="{{ url_for('user_detail',user_name=list[4], choose='detail') }}">
                            {{ comment[4] }}
                        </a>
                    </span>
                    <span class="time" style="color:grey">{{ comment[5] }}</span>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
