{% extends 'base.html' %}

{% block title %}{{ user }}{% endblock %}
{% block head %}
{% endblock %}

{% block main %}
    <div>
        <ul class="nav nav-tabs" id="indexTab" aria-orientation="horizontal">
            <li><a href= "{{ url_for('index',choose='all') }}">全部</a></li>
            {% for type in types %}
                <li><a href="{{ url_for('index',choose=type[0]) }}">{{ type[0] }}</a> </li>
            {% endfor %}
            <li><a href="{{ url_for('index',choose='focus') }}">关注</a> </li>
            {% if user%}
            <li><a href="{{ url_for('user_detail',user_name=user, choose='detail') }}">{{ user }}，欢迎回来！</a></li>
            {% endif %}
        </ul>
    </div>
    <div>
        <ul style="padding-left:20px; position:fixed; width:15%; height:100%">
            <li><a href= "{{ url_for('user_detail',user_name=host,choose='detail') }}">个人信息</a></li>
            <li><a href= "{{ url_for('user_detail',user_name=host,choose='focus') }}">关注好友</a></li>
            <li><a href="{{ url_for('user_detail',user_name=host,choose='web') }}">微博</a> </li>
            <li><a href="{{ url_for('user_detail',user_name=host,choose='praise') }}">点赞</a> </li>
            <li><a href="{{ url_for('user_detail',user_name=host,choose='comment') }}">评论</a> </li>
            <li><a href="{{ url_for('user_detail',user_name=host,choose='reply') }}">回复</a> </li>
        </ul>
        <div>
            {% if choose == 'detail' %}
                <div class="form-container" style="width:300px;margin:0 auto">
                    <div class="form-group"><ul>昵称：{{ host }}</ul></div>
                    <div class="form-group"><ul>性别：{{ user_sex }}</ul></div>
                    <div class="form-group"><ul>生日：{{ user_birthday }}</ul></div>
                    <div class="form-group"><ul>邮箱：{{ user_email}}</ul></div>
                    <div class="form-group"><ul>地区：{{ user_address }}</ul></div>
                    <div class="form-group"><ul>简介：{{ user_text }}</ul></div>
                    {% if user == host %}
                        <div class="form-group">
                            <a href="{{ url_for('user_detail',user_name=host,choose='remake') }}">
                                <button class="btn btn-primary btn-block">修改</button>
                            </a>
                        </div>
                    {% else %}
                        <div>
                            {% if focus %}
                                <span class="focus" style="margin-right:20px;color:grey" >
                                        已关注
                                </span>
                            {% else %}
                                <div style="display:inline;font-size:15px">
                                    <form action="" method="POST">
                                        <div class="form-container" style="width:500px;margin:0 auto;text-align:right;display:inline">
                                            <div class="form-group" style="display:inline">
                                                关注分组：
                                                {% for focus_group in focus_groups %}
                                                    <input type="radio" name="focus_group" value={{focus_group[0]}} checked>{{ focus_group[2] }}
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary" style="">关注</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if choose == 'remake' %}
                <form action="" method="POST">
                    <div class="form-container" style="width:300px;margin:0 auto">
                        <h4 style="color: red; text-align: center" id="errMessage">{{ text }}</h4>
                        <div class="form-group">
                            昵称：{{ host }}
                        </div>
                        <div class="form-group">
                            性别：
                            {% if user_sex == "男" %}
                                <input type="radio" name="user_sex" value="男" checked>男
                                <input type="radio" name="user_sex" value="女">女
                            {% else %}
                                <input type="radio" name="user_sex" value="男" >男
                                <input type="radio" name="user_sex" value="女" checked>女
                            {% endif %}
                        </div>
                        <div class="form-group">
                            生日：
                            <input type="date" class="form-control" name="user_birthday" value="{{ user_birthday }}">
                        </div>
                        <div class="form-group">
                            邮箱：
                            <input type="email" class="form-control" name="user_email" value="{{ user_email }}">
                        </div>
                        <div class="form-group">
                            地区：
                            <input type="text" class="form-control" name="user_address" value="{{ user_address }}" maxlength="10" >
                        </div>
                        <div class="form-group">
                            简介：
                            <input type="text" class="form-control" name="user_text" value="{{ user_text }}">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">确认</button>
                        </div>
                    </div>
                </form>
            {% endif %}

            {% if choose == 'focus' %}
                <div style="width:300px;margin:0 auto">
                    <h3 style="padding-left:0">
                        关注列表
                    </h3>
                    <ul style="list-style:none;padding-left:0;">
                        {% for focus_group in focus_groups %}
                            <li style="border-bottom:1px solid #eee;overflow:hidden;padding:10px 0;">
                                <div class="avatar-group" style="width:38px;height:100%;float:left;">
                                    <h4>
                                        {{ focus_group[2] }}
                                    </h4>
                                </div>
                                {% for focus_list in focus_lists[focus_group[2]] %}
                                    <div class="group" style="float:left;width:660px;margin-left:10px;" >
                                        <a href="{{ url_for('user_detail',user_name=focus_list[0],choose='detail') }}">
                                            {{ focus_list[0] }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if user == host %}
                        <form action="" method="POST">
                            <div class="form-container" style="width:300px;margin:0 auto">
                                <div class="form-group">
                                    添加分组：
                                    <input type="text" class="form-control" name="group_name" placeholder="分组名称">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">确认</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}